svg {
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
  stroke-width: .5px;
}

.axis path {
  display: none;
}

rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

circle {
  fill: #ccc;
  fill-opacity: .25;
}

.cell text {
  pointer-events: none;
}

.node {
  fill: #800;
  stroke-width: 5px;
}

.xnia {
  fill: #080;
  fill-opacity: .25;
}

*:hover > .node,
*:hover > .xnia {
  fill-opacity: .0;
}

.xueten {
  fill: #008;
  stroke-width: 5px;
}
